<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title: "Paginas Bellas || Registro" }) %>

  <body>
    <%- include('../partials/header') %>
      <main class="register">
        <section class="register-box">
          <h2>Bienvenido</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam exercitationem expedita ratione, nemo quas
            fuga a nihil ut vel perspiciatis natus, distinctio architecto repudiandae porro voluptatibus neque optio qui
            tempore.
          </p>
          <article class="register-form">
            <form method="POST" action="/users/register" class="register-form-info">
              <div class="register-info">
                <input type="text" class="input-style" name="name" placeholder="Nombre de Usuario"
                  value="<%= (locals.old && old.name) ? old.name : "" %>" />
                <% if (locals.errors && errors.name) { %>
                  <span class="error-message">
                    <%= errors.name.msg %>
                  </span>
                  <% } %>
              </div>
              <div class="register-info">
                <input type="text" id="apellido" name="apellido" placeholder="Escribi tu apellido">
                <label for="apellido"></label>
                <span hidden>Obligatorio</span>
              </div>

              </div>
              <div class="register-info">
                <input type="email" class="input-style" name="email" placeholder="Ingrese su Mail"
                  value="<%= (locals.old && old.email) ? old.email : "" %>" />
                <% if (locals.errors && errors.email) { %>
                  <span class="error-message">
                    <%= errors.email.msg %>
                  </span>
                  <% } %>
              </div>
              <div class="register-info">
                <input type="password" class="input-style" name="password" placeholder="Ingrese su contraseña" />
                <% if (locals.errors && errors.password) { %>
                  <span class="error-message">
                    <%= errors.password.msg %>
                  </span>
                  <% } %>
              </div>
              <div class="register-info">
                <input type="password" class="input-style" name="password2" placeholder="Confirme su contraseña"/>
                <% if (locals.errors && errors.password2) { %>
                  <span class="error-message">
                    <%= errors.password2.msg %>
                  </span>
                  <% } %>
                    </div>
                     
                    <div class="register-condiciones">
                      <input type="checkbox" name="terminos" id="terminos">
                      <label for="terminos">Aceptar <a href="">Terminos y Condiciones</a></label>
                      <% if (locals.errors && errors.check) { %>
                        <span class="error-message"><%= errors.check.msg %></span>
                    <% } %>
                    </div>
                    
                    <div class="register-boton-box">
                      <button class="register-button" type="submit"><a href="/users/login">Registrarme</a></button>
                      <button class="register-button" type="reset"> <a href="/">Cancelar</a></button>
                    </div>

                    <div class="register-info">
                      <p>O puedes registrarte con:</p>
                      <div class="register-boton-box">
                        <button class="register-boton-rojo"> <a
                            href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i
                              class="fa-brands fa-google-plus"></i> Google </a></button>

                        <button class="register-boton-azul"><a href="https://es-la.facebook.com/"><i
                              class="fa-brands fa-facebook"></i> Facebook</a></button>
                      </div>
                    </div>
            </form>
          </article>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, suscipit iste esse provident laudantium
            fugit
            nostrum debitis sint inventore. Dicta placeat culpa velit consequuntur dolore ut sunt ex doloribus nulla!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, accusantium tempore suscipit, hic
            iusto
            nisi quae facere cupiditate nemo distinctio explicabo sed reprehenderit. Delectus autem pariatur porro
            magnam,
            incidunt quidem.
          </p>
        </section>
      </main>
      <%- include('../partials/footer') %>
  </body>

</html>